@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.cdnfonts.com/css/george-rounded");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
.body {
  margin: 5%;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-areas: "logo nav button";
  grid-template-columns: 40% 60% 20%;
}
.header .header__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  width: 10%;
  height: 50%;
}
.header .header__text {
  display: flex;
  align-items: center;
  color: #000;
  font-family: "Cedarville Cursive", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.header__nav {
  display: flex;
  grid-area: nav;
  text-align: center;
  align-self: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.header__button-green {
  grid-area: button;
  width: 20%;
  height: 6vh;
  flex-shrink: 0;
  background-color: rgb(45, 99, 94);
  border-radius: 10px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.generalinfo__p {
  color: #444A4A;
  font-family: "Cedarville Cursive", sans-serif;
  font-size: 200%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.generalinfo__h1 {
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 345%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-green {
  width: 30%;
  height: 13%;
  flex-shrink: 0;
  background-color: rgb(45, 99, 94);
  border-radius: 10px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: "George Rounded";
  font-size: 130%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-general {
  display: grid;
  grid-template-columns: 60% 40%;
}

.generalinfo {
  padding-top: 15%;
}

.otherinfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-square {
  display: flex;
  width: 30%;
  height: 30%;
  margin-bottom: 5%;
  flex-shrink: 0;
  opacity: 0.4;
  background-color: #E3EBE7;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}

.small-square svg {
  display: block;
}

.big-square {
  width: 80%;
  height: 90%;
  flex-shrink: 0;
  background-color: #E3EBE7;
  position: relative;
}

.big-square__img {
  margin-top: 35%;
  margin-left: 8%;
  width: 80%;
  height: 80%;
}

.follow-us {
  display: flex;
  align-self: flex-end;
  margin-bottom: 22%;
  margin-left: -12%;
  flex-shrink: 0;
  color: #444A4A;
  transform: rotate(-90deg);
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.follow-us .follow-us__media {
  justify-content: space-between;
  padding: 3px;
}
.about_us_info_h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about_us_info__p1 {
  color: var(--Secondary-Hard-green, #444A4A);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 189.474% */
  letter-spacing: 0.019px;
}
.about_us_info__p2 {
  color: var(--Secondary-Hard-green, #444A4A);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 189.474% */
  letter-spacing: 0.019px;
}
.about_us_title {
  transform: rotate(-90deg);
  transform-origin: top left;
  margin-left: -4%;
  margin-top: 27%;

}
.about_us {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.orange-square {
  margin-top: 5%;
  width: 80%;
  height: 80%;
  flex-shrink: 0;
  background-color: #FAE9E0;
  position: relative;
}

.orange-square__img {
  margin-top: -30%;
  margin-left: 13%;
  width: 90%;
  height: 95%;
}
.about_us_info {
  margin-right: 15%;
}

/*# sourceMappingURL=index.css.map */
